body {
    background-color: #C43670;
}


.iniciar-quiz {
    background-color: #FEF1EB;
}


.alternativa-selecionada {
    color: red;
}


.quiz {
    display: none;
}

#gabarito {
    display: none;
}